.con {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: white;
    height: 40vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden; 
    scrollbar-color: #272A2E #272A2E;

}

.cc {
    background-color: #272A2E;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    width: 63vw;
    align-items: center;
    margin: 4px 0 4px 0;
    font-weight: 900;
}

.pc {
    display: flex; 
    background-color: #272A2E;
    border-radius: 8px;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 2rem;
    align-items: center;
    font-weight: 900;
    cursor: pointer;
}

.con1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    height: 75vh;
    width: 100vw;
}

.detail {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 35rem;
    width: 30rem;
    margin-top: 1rem;
    background-color: #272A2E;
    color: white;
    border-radius: 8px;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.lm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #34373C;
    color: white;
    font-weight: 900;
    margin-top: 2rem;
}

.formLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #34373C;
    color: white;
    font-weight: 900;
    margin-top: 4rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}